body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 10px 0;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

h1 {
    color: #d4a373;
    font-size: 2em;
}

main {
    margin-top: 20px;
}

#adicionar-pedido {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #d4a373;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
}

.mesa-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mesa {
    width: 30%;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.mesa h4 {
    margin-top: 0;
}

.mesa p {
    font-weight: bold;
}

.qrcode {
    margin: 10px 0;
}
